{% extends 'window.html' %}
{% load render_bundle from webpack_loader %}

{% block page_title %}
Dashboard
{% endblock page_title %}
{% block content %}
<style>
  #map {
    min-height:400px;
    height: 100%;
  }

  .vehicle-list {
      max-height: 500px;
      overflow-y: auto;
  }

  li>a {
      color: #999;
  }

</style>

<div id="root"></div>
{% comment %} <div class="container-fluid">
    <div class="row">
        
        
        <div class="col-sm-12 col-md-3">
            <div class="card dash-card">
                <div class="card-body">
                    <h3>Online Vehicles</h3>
                    <h1>5</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card dash-card">
                <div class="card-body">
                    <h3>Offline Vehicles</h3>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card dash-card">
                <div class="card-body">
                    <h3>Moving Vehicles</h3>
                    <h1>34</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card dash-card">
                <div class="card-body">
                    <h3>Idling Vehicles</h3>
                    <h1>16</h1>
                </div>
            </div>
        </div>
        
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr class='primary text-white'>
                        <th></th>
                        <th>Vehicle</th>
                        <th>Registration</th>
                        <th>Status</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fas fa-bus" style='font-size:1.5rem;color:#007bff;'></i></td>
                        <td>77779</td>
                        <td>23478923</td>
                        <td>Online</td>
                        <td>22 -12-19 15:30:29</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> {% endcomment %}
{% render_bundle "dashboard" %}

<script>
        var map;
        function initMap(){
            map = new google.maps.Map(document.getElementById('map'),{
                center: {lng: 31.0335, lat: -17.8252},
                zoom: 8
            })
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWiOLVHb0U4Ljf-5oteb2O9NCCzO84fLk&callback=initMap"
    type="text/javascript"></script>

{% endblock content %}