{% load static %}

<style>
    .alarm-modal{
            visibility: hidden;
            position: fixed;
            z-index: 10001;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0);
            transition: visibility 0s, background-color 0.6s linear;
        } 

        .alarm-modal-header {
             width: 100%;
             padding: 5px;
             margin-bottom: 2rem;
             
        }

        .alarm-modal-header h4{
            display: inline-block;
            font-weight: 250;

        }

        .alarm-modal-header button{
            display: inline-block;
        }

        .alarm-modal-content{
            background-color: #eee;
            position: absolute;
            right: -50vw;
            top: 0;
            padding: 5px;
            width: 40vw;
            height: 100vh;
            transition: right 0.6s ease-in;
        }   

        .modal-content-visible {
            right: 0;
        }

        .modal-visible {
            visibility: visible;
            background-color: rgba(0,0,0,0.4);
        }

        .alarms-minimized {
            width: 200px;
            height:40px;
            padding: 5px;
            position: fixed;
            z-index: 10000;
            bottom: 0px;
            right: 200px;
            transition: display 0.3s;
        }


        #bell {
            transform: rotateZ(45deg);
            {% comment %} animation: ring 1s infinite; {% endcomment %}
        }

        @keyframes ring{
            0% {
                transform: rotateZ(45deg);
            }

            50% {
                transform: rotateZ(-45deg);
            }

            100% {
                transform: rotateZ(45deg);
            }

        
</style>

<audio id='chime' src='{% static "common/audio/chime.mp3" %}' autostart='false' width='0' height='0' enablejavascript='true' ></audio>


<div class="alarm-modal" id="id-alarm-modal">
    <div class="alarm-modal-content">
        <div class="alarm-modal-header secondary text-white">
            <button onclick="minimizeAlarms()"  class="btn btn-sm tertiary"><i class="fas fa-arrow-right"></i></button>
            <h4>Alarms <i class="fas fa-bell"></i> </h4>
        </div>
        <div class="alarm-list">
            <table class="table table-sm">
                <thead>
                    <tr class='secondary text-white'>
                        <th>Timestamp</th>
                        <th>Vehicle</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id='alarm-data'>

                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    function maximizeAlarms(){
        $("#id-alarm-modal").addClass('modal-visible');
        $(".alarm-modal-content").addClass('modal-content-visible');
    }

    function minimizeAlarms(){
        $("#id-alarm-modal").removeClass('modal-visible');
        $(".alarm-modal-content").removeClass('modal-content-visible');
        $("#bell").css('color', 'white');

    }

    function toggleAlarms(){
        if($('#id-alarm-modal').css('visibility') == 'hidden'){
            maximizeAlarms()
        }else{
            minimizeAlarms()
        }
    }

    function checkAlarms(){
        $.get('/reports/alarms/', function(data){
            if(data.length > 0){
                setTimeout(function(){
                    var audio = document.getElementById('chime');
                    audio.play()
                }, 5000);
                $("#bell").css('color', '#007bff');
                $.each(data, function(index, value){
                    $('#alarm-data').append('<tr><td>'+ value.timestamp +
                                '</td><td>'+ value.vehicle   +
                                '</td><td>'+ value.description+'</td></tr>')
                })
            }
        })
    }

    $(document).ready(function(){
        checkAlarms();
        setInterval(checkAlarms, 60000)
        
    })
</script>