h1 {
    color: blue;
}

body{
    background-size: cover;
    width: 100wv;
    height: 100vh;
    background-image: url('/static/background-comp.jpg');
}

.welcome-card {
    background-color: white;
    box-shadow: 5px 10px 15px #ddd;
    border-radius: 5px;
    padding: 2rem;
    width: 40%;
    position: absolute;
    left: 40px;
    top:30px;
}

.welcome-card h1{
    font-size: 2rem;
    font-weight: 300;
}

.spinner {
    display: inline-block;
    margin: 5px auto;
}