.shadow {
    border: 1px solid grey;
    padding: 40px ;
    box-shadow: 5px 10px 5px powderblue;
    margin-bottom: 15px;
}

input:required {
    background-color: #ddd;
}

select:required {
    background-color: #ddd;
}

textarea:required {
    background-color: #ddd;
}

.card h4, .card h5 {
    font-weight: 250;
}


.primary {
    background-color: #222831;
}

.secondary {
    background-color: #343e46;
}

.tertiary {
    background-color: #00adb5;
    color: white;
}

.leaflet-container {
    height: 700px;
    width:100%;
  }