.shadow {
    border: 1px solid grey;
    padding: 40px ;
    box-shadow: 5px 10px 30px powderblue;
}

input:required {
    background-color: #ddd;
}

select:required {
    background-color: #ddd;
}

textarea:required {
    background-color: #ddd;
}

.card h4, .card h5 {
    font-weight: 250;
}